div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



h{
font-style: italic;
  font-size: 50px;
  margin-left: 500px;
  font-family: 'Inconsolata';
  background-color: ghostwhite;


}
p{
  font-size: 21px;
font-style:normal;
  font-family: 'Inconsolata';
padding-left: 275px;
padding-right: 275px;

}

ul{
list-style-type: none;
  font-family: 'Barlow';
margin: 25px;
width: 25px;
font-size: 25px;

}

a:hover{
  background-color: gray;
  color: purple;
}

.grid-container {
  display: auto auto auto;
  grid-template-columns: 80px 80px 80px;
  column-gap: 5px;
  justify-content: space-evenly;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
  background-color:pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
