body{
  background-color: black;
}
h{
  font-size: 100px;
margin-left: 160px;
}
p{
  font-size: 50px;
  text-decoration-color: white;

}
li{
  display: inline;
  font-size: 50px;
  text-decoration-color: white;
  margin-left: 80px;

}
ul{
  border-style: solid;
  color: blue;
}
